<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.skhu.mapper.StudentMapper">


   <select id="findStudent" resultType="Student">
        select * from student where userId like #{id};
    </select>

        <update id="updateStudent">
    update student set department=#{department}, name=#{name}, gender=#{gender}, grade=#{grade}, phone=#{phone}, 
email=#{email}, password=#{password} where userId like #{id};
    </update>

     <select id="insertStudent">
        insert into student values(#{id}, #{department}, #{name}, #{gender}, #{grade}, #{phone},#{email}, #{password} );
    </select>

</mapper>